venv/ 
dist/
tests/
*.tar
*.pyd
__pycache__/ 
.idea/ 
data/
/配置说明.txt
/范例.txt
/推送代码命令.txt
/目录结构.txt
/identifier.sqlite
".idea/"
build.bat
build.ps1
requirements-build.txt
requirements-runtime.txt
*.db-wal
*.db-shm
Dockerfile
.dockerignore
docker-compose.yml